/*Pour un ordinateur*/
.content {
  animation-name: fade-in;
  animation-duration: 1s;
  margin: 0;
  font-family: "VT323";
  margin: 0px 25%;
  height: 100%;
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

h1 {
  margin-top: 0px;
  text-align: center;
  font-size: 55px;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 25px;
}
