@media screen and (max-width: 1280px)
{
  .head {
    display: none;
  }

  #mobile {
    display: block;
    background-color: #50C2BB;
  }

  #img_link {
    text-decoration: none;
    color: inherit;
  }

  .foot {
    display: none;
  }

  li a {
    display: inline-block;
    position: relative;
    color: inherit;
    text-decoration: none;
    font-family: "VT323";
    font-size: 60px;
    padding: .5em;
  }

  #nav ul {
    list-style-type: none;
  }

  .menu {
    display: none;
  }

  .submenu {
    display: none;
  }

  .menu_check {
    display: none;
  }

  .menu_check_install {
    display: none;
  }

  .menu_check:checked ~ .menu {
    position: absolute;
    background-color: #50C2BB;
    z-index: 5;
    animation-name: button-hover;
    animation-duration: 1.2s;
    display: block;
    top: 188px;
  }

  .menu_check_install:checked ~ .submenu {
    position: absolute;
    background-color: #50C2BB;
    z-index: 5;
    animation-name: button-hover-install;
    animation-duration: 1.2s;
    display: block;
    top: 130px;
    left: 430px;
  }

  @keyframes button-hover {
    0% {
      opacity: 0%;
      left: -600px;
    }

    100% {
      opacity: 100%;
      left: 0px;
    }
  }

  @keyframes button-hover-install {
    0% {
      opacity: 0%;
      left: 260px;
    }

    100% {
      opacity: 100%;
      left: 430px;
    }
  }

  .menu_toggle {
    display: inline-block;
    position: relative;
    top: -48px;
    font-size: 95px;
    right: 374px;
  }

  .menu_toggle_install {
    display: inline-block;
    font-family: "VT323";
    font-size: 61px;
    position: relative;
    right: 35px;
    padding: 18px 0px;
  }

  #arrow {
    position: relative;
    font-size: 40px;
    right: 30px;
    bottom: 2px;
  }

  #dpt_img {
    display: inline-block;
    position: relative;
    width: 400px;
    left: 27%;
  }

  .lines {
    background-color: rgba(0, 0, 0, 0.6);
    color: #50C2BB;
    margin: 0 2%;
    border-radius: 5px;
  }

  .light_gray {
    color: rgba(0, 0, 0, 0.4);
  }

  .orange {
    color: #FF5721;
  }

  .red {
    color: #DF0202;
  }

  .in_lines {
    font-size: 60px;
    margin-left: 40px;
    margin-top: -25px;
  }

  #copyright {
    margin: 0px;
    padding-bottom: 1px;
    padding-top: 130px;
    width: 100%;
    font-family: "VT323";
    background-color: #50C2BB;
  }

  #copyright_text {
    margin: 0px;
    margin-left: 10px;
    margin-bottom: 8px;
    font-size: 50px;
  }
}
